.add-product-heading {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 30px;
  width: 100%;
}

.add-product-heading svg {
  font-size: 30px;
  cursor: pointer;
}

.add-product-heading svg:hover {
  color: #000000;
  border-radius: 3px;
  transition: .1s linear all;
  transform: scale(1.2);
}

.product-input label {
  color: #626262;
  font-weight: 500;
  font-size: 18px;
  padding: 15px 0px;
}

.product-alignment {
  display: flex;
  align-items: center;
  gap: 20px;
}

.product-input input {
  padding: 8px 10px;
  border-radius: 4px;
  border: 2px solid #c3c3c3a3;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.product-input {
  flex: 1;
}

.update-btn {
  margin: 50px 0px 0px 0px;
  float: inline-end;
}

.update-btn button {
  border-radius: 5px;
  padding: 8px 30px;
  border: none;
  font-weight: 500;
  margin-left: 25px;
}

.update-btn button:first-child {
  color: #e03b30;
  background-color: #f9f9f9;
  border: 1px solid #cdcdcd;
  outline: none;
}

.update-btn button:last-child {
  color: white;
  background-color: #e03b30;
  outline: none;
}

input[type="file"] {
  display: none;
}

.required {
  color: red;
}

.file-upload label svg {
  color: #000766;
  font-size: 35px;
}

.file-upload label p {
  color: #7a7a7a;
  font-weight: 400;
}

.file-upload {
  background-color: #efefef;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #d7d7d7;
  height: 400px;
  padding: 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  overflow: hidden;
}

.file-image-alignment {
  padding: 90px !important;
}

.image-size {
  width: 55%;
  height: auto;
  margin-bottom: 0px;
}

.product-input select {
  padding: 8px 10px;
  border-radius: 4px;
  border: 2px solid #c3c3c3a3;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  color: #5c5c5c;
  cursor: pointer;
  appearance: none;
}

.custom-select-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.image-label {
  cursor: pointer;
}

/* .sidebar-link.active::before {
  background-color: #e03b30;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 5px;
  height: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sidebar-link.active {
  color: #ffffff;
  border-radius: 5px;
  background: #E03B30;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
} */

.close-icon {
  position: absolute;
  color: #e03b30;
  font-size: 25px;
}